<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
  background-image: url('pinigai.jpg');text-shadow: 2px 1px 1px #000; color: #fff">Readable</div>

}


    h1 {
    text-align: center;
    }

    p {
    text-align: center;
    }

    div {
    text-align: center;
    }



    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Budget Planner</h1>
<div>
    <p><a href="http://localhost:8080/incomemapping/income/1"><font size="6">Income with id 1.</font></a></p>
    <p><a href="http://localhost:8080/incomemapping/incomes/all"><font size="6">All Incomes</font></a></p>
    <p><a href="http://localhost:8080/incomemapping/incomes/getandpost"><font size="6">Get And Post Income</font></a>
    </p>
</div>
</body>Get And Post Income
</html>
