<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
  background-image: url('pinigai.jpg');
}

    }

    h1 {
    text-align: center;
    }

    p {
    text-align: center;
    }

    div {
    text-align: center;
    }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Budget Planner</h1>
<div>
    <p><a href="http://localhost:8080/incomemapping/income/1">Income with id 1</a></p>
    <p><a href="http://localhost:8080/incomemapping/incomes/all">All Incomes</a></p>
</div>
</body>
</html>