<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {background-color: gold;}
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
  </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="http://localhost:8080/citytemplate/firstpage/city/all">All Cities</a></p>
<p><a href="http://localhost:8080/citytemplate/firstpage/city/112">City By Id</a></p>
<p><a href="http://localhost:8080/citymapping/mycity/name/">City By Name</a></p>
</body>
</html>