<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/expensemapping/expenses/getandpost}" th:object="${key_expense}" method="post">
    <label>Expense Id</label>
    <input type="text" th:field="${key_expense.id}" id="id"/>
    <input type="submit" value="Submit" />
    <input type="submit" value="Clear" onclick="document.getElementById('id').value = ''"/>
</form>
<br>

<table>
    <tr>
        <th class="th">Id</th>
        <th class="th">Amount &euro;</th>
        <th class="th">Date</th>
    </tr>

    <tr th:if="${key_expense_details.id == null}">
        <td colspan="5">No Records found. Add some...!</td>
    </tr>

    <tr>
        <td class="td" th:text="${key_expense_details.id}"></td>
        <td class="td" th:text="${key_expense_details.amount}"></td>
        <td class="td" th:text="${key_expense_details.date}"></td>
    </tr>
</table>

</body>
</html>