<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/incomemapping/incomes/getandpost}" th:object="${key_income}" method="post">
    <label>Income Id</label>
    <input type="text" th:field="${key_income.id}" id="id"/>
    <input type="submit" value="Submit" />
    <input type="submit" value="Clear" onclick="document.getIncomeById('id').value = ''"/>
</form>
<br>

<table>
    <tr>
        <th class="th">Id</th>
        <th class="th">Amount &euro;</th>
        <th class="th">Date</th>
    </tr>

<!--    <tr th:if="${key_income_details.id.isEmpty}">-->
<!--        <td colspan="5">No Records found. Add some...!</td>-->
<!--    </tr>-->

    <tr>
        <td class="td" th:text="${key_income_details.id}"></td>
        <td class="td" th:text="${key_income_details.amount}"></td>
        <td class="td" th:text="${key_income_details.date}"></td>
    </tr>
</table>

</body>
</html>